
.divSection{
    text-align: center;
    padding-top: 30px;
}
.h1Section{
    font-size: 2.9rem;
    color: #4BE3AC;
    padding-bottom: 10px;
}
.parrafoAbout{
    font-size: 1.2rem;
    color: #4BE3AC;
    padding-bottom: 10px;
}